header {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
    background: var(--primary-color-light);
}

nav {
    padding: var(--padding-padrao);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--primary-color-black);
}

#nav-img-logo {
    width: 13.721rem;
    height: auto;
    padding: 10px 0;
    object-fit: cover;
}

#nav-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2.5rem;
}

#nav-list a {
    font-size: 1.25rem;
    font-weight: 100;
    color: var(--primary-color-black);
}

#nav-list button {
    font-size: 1.25rem;
    font-weight: 100;
    border: none;
    border-left: 1px solid var(--primary-color-black);
    border-right: 1px solid var(--primary-color-black);
    padding: 1.25rem 2.188rem;
    cursor: pointer;
    border-radius: 14px;
    background: var(--primary-color-light);
}

#btn-menu-mobile {
    display: none;
}

@media screen and (max-width: 1240px) {
    nav {
        padding: 0px 40px;
    }
}

@media screen and (max-width: 1130px) {
    nav {
        border: none;
    }

    #nav-list {
        display: none;
    }

    #btn-menu-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }
}

@media screen and (max-width: 880px) {
    nav {
        padding: 0px 20px;
    }
}