#services {
    min-height: calc(100vh - 69px);
    padding-top: 20px;
    padding-left: 100px;
    padding-right: 100px;
}

.services-header {
    
    background-color: red;
    display: flex;
    align-items: center;
    gap: 40px;
}