@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('./header.css');
@import url('./menuMobile.css');
@import url('./about.css');
@import url('./services.css');
@import url('./cases.css');
@import url('./picing.css');

:root {
    --primary-color-black: #000000;
    --secundary-color-black: #191A23;
    --primary-color-light: #FFFFFF;
    --primary-color-grey: #F3F3F3;
    --primary-color-green: #B9FF66;
    --padding-padrao: 0px 6.25rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Grotesk", serif;
}

body {
    background: var(--primary-color-light);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.btn-default {
    padding: 1.25rem 2.188rem;
    color: var(--primary-color-black);
    font-size: 1.25rem;
    font-weight: 100;
    background-color: #FFFFFF;
    border: none;
    border-radius: 14px;
    cursor: pointer;
    transition: background .3s ease;
}

main section {
    min-height: calc(100vh - 68px);
}

.section-headers {
    width: 100%;
    padding-top: 4.375rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
}

.section-titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary-color-green);
    border-radius: 7px;
    font-size: 2rem;
    font-weight: 500;
    padding: 0px 7px;
}

.section-headers > p {
    width: 50%;
    font-size: 1rem;
    text-align: justify;
}

@media screen and (max-width: 1130px) {
    main section {
        min-height: calc(100vh - 55.92px);
    }

    .section-headers > p {
        width: 70%;
    }
}

@media screen and (max-width: 880px) {
    main section {
        min-height: calc(100vh - 45.44px);
    }

    .section-headers {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .section-headers > p {
        width: 100%;
        text-align: center;
    }
}
